li.sector {
  list-style-type: none;
}

li.sector::before {
  content: '+';
  color: #d3d3d3;
  display: inline-block;
  width: 1em;
}

li.sector.expanded::before {
  content: '\2212';
}

li.sector.empty::before {
  content: '';
}

li.sector > span {
  cursor: pointer;
}

li.sector span.highlighted {
  background: gold;
  border-radius: 2px;
  padding: 0 2px;
}
